.available-devices{
    .device-upper-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--spacing);
        h3{
            font-size: 1.25rem;
            font-weight: 600;
        }
    }
    .devices{
        display: flex;
        flex-direction: column;
        overflow: auto;
        .device{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            width: 100%;
            &:not(:first-child){
                border-top: 1px solid #ccc;
            }
            .device-logo{
                img{
                    width: 80px;
                    height: 80px;
                }
            }
            .device-info-container{
                display: flex;
                align-items: center;
                width: 100%;
                cursor: pointer;
                .device-details{
                    display: flex;
                    flex-direction: column;
                    margin-left: var(--spacing);
                    align-items: flex-start;
                    .device-nickname{
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    .device-name{
                        font-size: .75rem;
                        font-weight: 500;
                    }
                }
            }
            .device-buttons{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                height: 100%;
                justify-content: end;
                button{
                    margin-bottom: var(--spacing-half);
                    text-wrap: nowrap;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .device-active-toggle{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    cursor: pointer;
                    label{
                        margin-right: var(--spacing-half);
                    }
                }
            }

            &.glow {
                .device-logo {
                    filter: brightness(100%);
                }
            }

        }
    }
}