.available-devices{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: var(--border-light);
    .devices{
        display: flex;
        overflow: auto;
        .device{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: var(--spacing);
            text-align: center;
            .device-logo{
                filter: brightness(75%);
                img{
                    width: 80px;
                    height: 80px;
                }
            }
            .device-nickname{
                font-size: .8rem;
                font-weight: 500;
            }
            .device-name{
                font-size: .5rem;
                font-weight: 500;
            }

            &.glow {
                .device-logo {
                    filter: brightness(100%);
                }
            }
        }
    }
}