.side-menu{
    display: flex;
    height: 100%;
    border-right: 1px solid var(--color-background-border);
    flex-direction: column;
    padding: var(--spacing-half);
    ul{
        list-style-type: none;
        
        a{
            padding: var(--spacing);
            display: flex;
            border-radius: var(--border-radius);
            transition: background-color 0.2s ease;
            &:hover{
                background-color: var(--color-background-secondary);
            }
        }
        &:first-child{
            margin-bottom: var(--spacing-half);
        }
    }
}